@import "reset";

  
  .wrap {
    margin: 0 auto;
    max-width: 1000px;
  }

  body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 21px;
  }

  a {
    color: #800000;
  }

  p {
    margin-bottom: 1.1em;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: .8em;
    display: inline-block;
    text-align: center;
  }

 header{
  text-align: center;
  width: 100%;
  background-color: peachpuff;
 }
  .main {
    width: 100%;
    margin-right: 5%;
    font-size: 16px;
  }
  .imgbkrnd{
    height: 400px;
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    vertical-align: middle;
  }
  .lifecoaching{
    @extend .imgbkrnd;
    background-image: url('/img/career-change.jpg');
  }
  .careercoaching{
    @extend .imgbkrnd;
    background-image: url('/img/coach.jpg');
  }  
  .betterresumes{
    @extend .imgbkrnd;
    background-image: url('/img/lc_roadtrip_600.jpg');

  }  
  .findingcoach{
    @extend .imgbkrnd;
    background-image: url('/img/finding.jpg');
  }
  .menu{
    display: none;
    position: fixed;
    top: 0px;
  }
  .icon{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 70px;
    position: absolute;
    top: 20px;
    right: 0;
  }

@media screen and (min-width: 587px){

.menu{
  display: block;
}
.icon{
  display: none;
}

}