@import "reset";

  
  .wrap {
    margin: 0 auto;
    max-width: 1000px;
  }

  body {
    font-family: 'Merriweather', serif;    font-size: 16px;
    line-height: 22px;
    color: #72523A;
  }

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 1.1em;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: .8em;
    display: inline-block;
    text-align: center;
    line-height: 1.6em;
    color: #C8DC5C;
  }
  ul{
    padding: 0 !important;
  }
  .coach{
        border-bottom: 2px solid #DDD;
    }
  h2,h3{
    font-weight: bold;
    line-height: 1.6em;
  }
 .head{
  text-align: center;
  width: 100%;
  ul{
    width: 100%;

    .logo-list{
      position: absolute;
      left: 0;
    }
    .menu-list{
      position: absolute;
      right: 0;
    }
  }
 }

  .main {
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #DDD;
    line-height: 1.6em;
    margin: 0 30px;
  }
  .imgbkrnd{
    height: 400px;
    width: 100%;
    background-size: 100% 100%;
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
    text-decoration: none;
    padding-top: 10px;
    box-shadow: 3px 3px 3px 3px #CCC;
    line-height: 1.5em;
  }
  .lifecoaching{
    @extend .imgbkrnd;
    background-image: url('../img/free.jpg');
    .overlay-text{
      color: #C8DC5C;
    }
  }
  .careercoaching{
    @extend .imgbkrnd;
    background-image: url('../img/Career-Goals-1.gif');
    .overlay-text{
      color: #72523A;
    }
  }  
  .betterresumes{
    @extend .imgbkrnd;
    background-image: url('../img/resume.jpg');
    .overlay-text{
      color: #C8DC5C;
    }
  }  
  .menu{
    display: none;
  }
  .menuclicked{
    display: block;
    margin-bottom: 20px;
    ul li{
      display: block;
    }
    .logolist,.business-title{
      display: none;
    }
  }
  .logo{
    width: 90px;
  }
  .logo-mobile{
    width: 90px;
  }
  .wilma{
    width: 40%;
    display: block;
    position: relative;
    left: 30%;
    margin: 2em 0;
  }
  .pure-menu{
    text-align: center;
  }
  .oscar-quote{
    margin-bottom: 50px;
  }
  .fa-linkedin-square{
    color: #007BB6;
  }
  .fa-twitter{
    color: #1AB2E8;
  }
  .icon{
    display: inline-block;
    text-decoration: none;
    font-size: 55px;
    .fa-bars{
      color: #72523A;
    }
  }
  .questions{
      text-align: center;
        h1{
          font-size: 25px;
          line-height: 35px;
        }
        p{
          font-size: 15px;
          line-height: 25px;
        }
        .head-q{
          font-weight: bold;
        }
    }
    .confirm{
      display: none;
    }
    .confirm-clicked{
      display: block;
      margin: 20px;
    }
    .business-title{
      font-family: 'Lobster', cursive;
      font-size: 30px;
      color: #72523A;
    }
     h1.business-title{
      letter-spacing: 3px;
    }
    li a div{
      color: #72523A;
    }
    .pure-menu-selected a div{
      color: #C8DC5C;
    }
@media screen and (min-width: 1013px){

  .menu{
    display: block;
    position: fixed;
    top: 0px;
    text-align: center;
    max-width: 1000px;
    ul li{
      display: inline-block;
    }
  }
  .main{
    width: 100%;
    margin: 100px 0 0 0;
  }
  .head{
    display: none !important;
  }
  @mixin transform($value)
  {
    -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
          transform: $value;
  }
  .logo{
    transition: all 500ms linear;
  }
  .logo:hover{
    @include transform(rotate(360deg));
  }
  .imgbkrnd{
    transition: all 500ms linear;
  }
  .imgbkrnd:hover{
    @include transform(scale(1.03,1.01));
  }
  .lifecoaching, .betterresumes{
    display: inline-block;
    width: 49.80%;
    margin: 0;
  }
  .questions{
    h1{
      font-size: 30px;
      line-height: 40px;
    }
    p{
      font-size: 20px;
      line-height: 30px;
    }
}

}
@media screen and (max-width: 500px){
  
 
}